header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav {
  position: relative;
}

.logo,
.nav-icon {
  margin: 0 50px;
}

.logo {
  color: #012970;
}

.nav-item {
  padding: 0 50px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #012970;
}

.nav-item:hover,
.profile-icon:hover,
.notification-icon:hover {
  color: #e5510b;
}

.nav-icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon,
.notification-icon {
  display: flex;
  color: #012970;
}

.nav-icon .notification-icon {
  margin-right: 20px;
}

.active {
  color: #e5510b;
}

.menu-icon {
  display: none;
}


@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

}